apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
  namespace: test-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio
        image: 851725194217.dkr.ecr.ap-south-1.amazonaws.com/portfolio:latest
        ports:
        - containerPort: 80

